ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iphone {
    height: 400px;
}

.deer {
    height: 300px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}