* {
    list-style-type: none;
}

.iphone {
    height: 400px;
}

.deer {
    height: 250px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.painting {
    padding: 1rem;
}
/* todo: refactor all of this lol */